<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script type ="text/javascript" src="/socket.io/socket.io.js"></script>
        <script type ="text/javascript">
             $(document). ready(function (){
                // this triggers the connection event in our server!
                var user = prompt('Your Name: ');
                var socket  = io.connect();
                // we'll write all the socket stuff after the above line!
                if(user != null){
                    socket.emit('new_user',{user:user});
                }else{
                    user = prompt('Your Name: ');
                };

                socket.on('all_message',function(data){
                    var message = data.message;
                    console.log(message);
                    var text = "";
                    for(var i =0; i < message.length; i++){
                        text = text + "<p>"+message[i].name+":  "+message[i].content+"</p>";
                    }
                    $('.box').html(text);
                });

                $('#send').click(function(){
                   var content = $('#message').val();
                   if(content != ""){
                        socket.emit('send',{user:user, content:content});
                   }else{
                      $('#error').text('Please enter your message first!!');  
                   }
                   $('#message').val('');
                })
            })
        </script>
        <style>
            .box{
                height: 500px;
                width: 600px;
                overflow: scroll;
                border: 1px solid black;
            };
            input {
                width: 500px;
            }
        </style>
    </head>
    <body>
        <h1>Conversation Board</h1>
        <div class="box">

        </div>
        <input type="text" name="message" id="message">
        <button id="send">Send</button>
        <h2 id="error"></h2>
    </body>
</html>